@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="col-12" style="text-align:center">
        <br /><br /><br /><br /> <br /> <br /> <br /> <br />
        <span class="h3 text-info"> <a href="KitapListesi">Kitap Listeleme Modülü</a> </span>
        <br /><br />
    </div>
</div>

